


::-webkit-scrollbar {
    width: auto;
    background: auto;
}

::-webkit-scrollbar-thumb {
    background: green;
    border-radius: auto;
}

::-webkit-scrollbar-thumb:hover {
    background: blue,
  }

/* 
  ::-webkit-scrollbar-thumb': {
    background: '#ff3864',
    borderRadius: '5px',
  }

  ::-webkit-scrollbar-thumb:hover: {
    background: '#e4728b',
  }, */